<main class="main-container">
	<section class="profile-card">
		<img src="/images/profile-original.jfif" alt="" />
		<div class="user-options">
			<a href="/"><li><i class="fa-solid fa-house"></i></li></a>
			<a href="/series"><li><i class="fa-solid fa-tv"></i></li></a>
			<a href="/search"><li><i
						class="fa-solid fa-magnifying-glass"
					></i></li></a>
			<a href="#"><li><i class="fa-solid fa-chart-pie"></i></li></a>
			<a href="#"><li><i class="fa-solid fa-gear"></i></li></a>
		</div>
		<a href="/login"><li><i
					class="fa-solid fa-arrow-right-from-bracket"
				></i></li></a>
	</section>
	<section class="infos">

		<div class="poster-container">
			<div class="poster-card">
			</div>
		</div>

		<div class="poster-title"></div>


		<div class="info-container">
		<div class="tv-options">
			<div class="option-episode"><a href="#"><i class="fa-solid fa-play"></i>		Marcar como assistido	</div></a>
			<div class="option-episode"><a href="#"><i class="fa-solid fa-star"></i>	Dar nota					</div></a>
		</div>


			<div class="about-card">
				<div class="summary"></div>
			</div>

		</div>

		<div class="elenco card">
			<h1>Elenco</h1>
			<div class="elenco-itens"></div>
		</div>

	</section>

</main>

<script src="/script/episode.js" defer></script>