<main class="main-container">
	<section class="profile-card">
		<div class="user-details">
			<img src="/images/profile-original.jfif" alt="" />
			<h1 class="name">Ana Zuleica</h1>
		</div>
		<div class="user-options">
			<ul>
				<li><a href="#">Início</a></li>
				<li><a href="/series">Minhas séries</a></li>
				<li><a href="/search">Explorar</a></li>
				<li><a href="">Estatísticas</a></li>
				<li><a href="">Conta</a></li>
				<li><a href="/login">Sair</a></li>
			</ul>
		</div>
	</section>
	<section class="infos">
		<div class="series-card info-card">
			<a href="/series"><h1>Minhas Séries</h1></a>
			<div class="foreground">
				<div class="card-box-row">
					<div class="card-box">
						<h3>Assistindo:</h3>
						<p>
							<span>The Office</span>
							<br />
							mais 2
						</p>
					</div>
					<div class="card-box">
						<h3>Pretendo ver:</h3>
						<p><span> Only Murderers on the Building</span> <br />mais 3</p>
					</div>
					<div class="card-box">
						<h3>Atualizações:</h3>
						<p>
							<span>This is Us</span>
							<br />
							mais 5
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="stats-card info-card">
			<a href="#"><h1>Estatísticas</h1></a>
			<div class="foreground">
				<div class="card-box-row">
					<div class="card-box">
						<h3>3</h3>
						<p>séries finalizadas</p>
					</div>
					<div class="card-box">
						<h3>419</h3>
						<p>episódios vistos</p>
					</div>
					<div class="card-box">
						<h3>23</h3>
						<p>episódios em atraso</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="/script/home.js"></script>