<div>
	<h1> 404 </h1>
	<h2>Página não encontrada!</h2>
</div>

<style>
	body { background-color: #10141f; font-family: "Rubik"; display: flex;
	align-items: center; justify-content: space-around; color: #f0ffffc5}
</style>