	<main>
			<div class="tv-container" id="tv-container">
				<img src="" alt="" />
			</div>

            <form action="/login">
			<div class="login-container">
				<div class="login-card">
					<div class="login-header">
						<img src="/images/tv-logo2.png" alt="" />
						<h1>Guia de Séries</h1>
</div>
						<div class="login-texto">
							<label for="usuario">Usuário</label>
							<input type="text" name="username" placeholder="Usuário" required />
						</div>

						<div class="login-texto">
							<label for="senha">Senha</label>
							<input type="password" name="password" placeholder="Senha" required />
						</div>
						<input type="submit" value="Login" />
					</div>
				</div>
            </form>
		</main>
<script src="/script/login.js"></script>