	<main class="main-container">
			<section class="profile-card">
				<img src="/images/profile.jpg" alt="" />
				<div class="user-options">
					<a href="/">		<li><i class="fa-solid fa-house">			</i></li></a>
					<a href="/series">	<li><i class="fa-solid fa-tv">				</i></li></a>
					<a href="/search">	<li><i class="fa-solid fa-magnifying-glass"></i></li></a>
					<a href="#">		<li><i class="fa-solid fa-chart-pie">		</i></li></a>
					<a href="#">		<li><i class="fa-solid fa-gear">			</i></li></a>
				</div>
				<a href="/login"
					><li><i class="fa-solid fa-arrow-right-from-bracket"></i></li
				></a>
			</section>
			<section class="infos">
				
				<div class="poster-container">
					<div class="poster-card">
					</div>
				</div>

				<div class="poster-title"></div>
				
				<div class="tv-options">
					<p><a href="#"><i class="fa-solid fa-play"></i>			Marcar como assistindo		</p></a>
					<p><a href="#"><i class="fa-solid fa-pause"></i>		Marcar como pretendo ver	</p></a>
					<p><a href="#"><i class="fa-solid fa-trash"></i>		Marcar como abandonada		</p></a>
					<p><a href="#"><i class="fa-solid fa-heart"></i>		Adicionar aos favoritos		</p></a>
					<p><a href="#"><i class="fa-solid fa-list"></i>			Adicionar à lista			</p></a>
				</div>

			<div class="info-container">
				<div class="seasons">
				</div>

				<div class="about-card">
					<div class="summary"></div>
					<div class="genres"></div>
				</div>
			</div>

				<div class="elenco card">
					<h1>Elenco</h1>
					<div class="elenco-itens"></div>
				</div>

				<div class="recommend card">
					<h1>Recomendações</h1>
					<div class="recommend-itens"></div>
				</div>
			</section>

		</main>

<script src="/script/overview.js" defer></script>