		<main class="main-container">
			<section class="profile-card">
				<img src="/images/profile.jpg" alt="" />
				<div class="user-options">
					<a href="/" title="Início">
						<li><i class="fa-solid fa-house"></i><li></a>
					<a href="/series" title="Minhas séries">
						<li><i class="fa-solid fa-tv"></i></li></a>
                    <a href="/search" title="Explorar">	
						<li><i class="fa-solid fa-magnifying-glass"></i></li></a>
					<a href="#" title="Estatísticas">		
						<li><i class="fa-solid fa-chart-pie"></i></li></a>
					<a href="#" title="Conta">		
						<li><i class="fa-solid fa-gear"></i></li></a>
				</div>

				<a href="/login" title="Sair">
						<li><i class="fa-solid fa-arrow-right-from-bracket"></i></li
				></a>
			</section>
			<section class="infos">
				<form id="form">
					<input
						class="search-bar"
						type="text"
						id="search"
						placeholder="Pesquisar série..."
					/>
					<button>
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>

				<div class="tvShow-container" id="tvShow-container">
				
				</div>
			</section>
		</main>

        <script src="/script/search.js"></script>