<main class="main-container">
	<section class="profile-card">
		<img src="/images/profile.jpg" alt="" />
		<div class="user-options">
			<a href="/"><li><i class="fa-solid fa-house"></i></li></a>
			<a href="/series"><li><i class="fa-solid fa-tv"></i></li></a>
			<a href="/search"><li><i
						class="fa-solid fa-magnifying-glass"
					></i></li></a>
			<a href="#"><li><i class="fa-solid fa-chart-pie"></i></li></a>
			<a href="#"><li><i class="fa-solid fa-gear"></i></li></a>
		</div>
		<a href="/login"><li><i
					class="fa-solid fa-arrow-right-from-bracket"
				></i></li></a>
	</section>
	<section class="infos">

		<div class="poster-container">
			<div class="poster-card">
			</div>
		</div>

		<div class="poster-title">
		</div>

		<div class="info-container">
			<div class="seasons">
			</div>

			<div class="about-card">
				<div class="summary"></div>

				<div class="progress-bar"></div>

			</div>
		</div>

		<div class="episodes-card card">
			<h1>Episódios</h1>
			<div class="episodes-itens"></div>
		</div>

	</section>

</main>

<script src="/script/season.js" defer></script>