	<main class="main-container">
			<section class="profile-card">
				<img src="/images/profile.jpg" alt="" />
				<div class="user-options">
					<a href="/"
						><li><i class="fa-solid fa-house"></i></li
					></a>
					<a href="/series"
						><li><i class="fa-solid fa-tv"></i></li
					></a>
					<a href="/search"
						><li><i class="fa-solid fa-magnifying-glass"></i></li
					></a>
					<a href="#"
						><li><i class="fa-solid fa-chart-pie"></i></li
					></a>
					<a href="#"
						><li><i class="fa-solid fa-gear"></i></li
					></a>
				</div>
				<a href="/login"
					><li><i class="fa-solid fa-arrow-right-from-bracket"></i></li
				></a>
			</section>
			<section class="infos">
				
					<div class="series-container">
						<div class="my-series">
							<h3>Assistindo:</h3>
							<div class="vistas">
								<div class="poster-info">
									<img src="/images/serie-1.png" alt="" srcset="" />
									<div class="card-geral">
										<div class="titulo-episodio">
										<h4>Nome da Série</h4>
										<p>S01E01 - Pilot</p>
									</div>
										<div class="barra-progresso">
											<div class="barra-total">
												<div class="barra-visto"></div>
											</div>
											<p>1/10</p>
										</div>
										<button>Ver episódio</button>
									</div>
								</div>

								<div class="poster-info">
									<img src="/images/serie-2.png" alt="" srcset="" />
									<div class="card-geral">
										<div class="titulo-episodio">
										<h4>Nome da Série</h4>
										<p>S01E01 - Pilot</p>
									</div>
										<div class="barra-progresso">
											<div class="barra-total">
												<div class="barra-visto"></div>
											</div>
											<p>1/10</p>
										</div>
										<button>Ver episódio</button>
									</div>
								</div>
						</div>

						<div class="meus-filmes">
							<h3>Pretendo ver:</h3>
							<div class="pretendo-ver">
								<div class="poster-info">
									<img src="/images/serie-4.png" alt="" srcset="" />
									<div class="card-geral">
										<div class="titulo-episodio">
										<h4>Nome da Série</h4>
										<p>S01E01 - Pilot</p>
									</div>
										<div class="barra-progresso">
											<div class="barra-total">
												<div class="barra-visto"></div>
											</div>
											<p>1/10</p>
										</div>
										<button>Ver episódio</button>
									</div>
								</div>
						</div>
					</div>
					
				</div>
			</section>
		</main>

		<script src="/script/series.js"></script>