@import "_globals.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	font-family: "Rubik";
}

.main-container {
	display: flex;
	margin: 50px;
}

.profile-card {
	background-color: var(--primary-color);
	width: 70px;
	height: 550px;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.profile-card img {
	width: 30px;
	border-radius: 50%;
	border: 2px solid white;
}

.user-options {
	margin-top: 20px;
	height: 80%;
}

.profile-card li {
	list-style: none;
	padding-top: 5px;
}

.profile-card .fa-solid {
	color: white;
	padding: 15px;
	border-radius: 5px;
}

.profile-card a:hover .fa-solid {
	background-color: var(--highlight-color);
	color: var(--primary-color);
}

.infos {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}

.poster-container {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 10px 40px #58585856;
}

.poster-card img {
	width: 100%;
	transform: translateY(-20%);
	opacity: 0.6;
	position: relative;

}

.poster-title {
	position: absolute;
	z-index: 1;
	padding: 10px;
	color: white;
	width: 60%;
}

.poster-title h1 {
	font-size: 30px;
}

.poster-title h3 {
	font-weight: lighter;
	padding-top: 5px;
}

.tv-options {
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding: 15px;
	margin: 10px 0px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

.tv-options .fa-solid {
	padding-right: 5px;
}

.tv-options a {
	text-decoration: none;
	color: white;
}

.tv-options a:hover {
	color: var(--highlight-color);
}

.seasons {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-right: 20px;
	margin-top: 20px;
}

.seasons a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	border-bottom: 1px solid white;
	line-height: 25px;
}

.seasons a:hover {
	border-bottom: 1px solid var(--highlight-color);
	color: var(--highlight-color);

}

.info-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.about-card {
	width: 80%;
	background-color: white;
	box-shadow: 0px 10px 40px #58585856;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
}

.summary p {
	margin: 10px 0px 15px 0px;
}

.genres {
	display: flex;
}

.genres p {
	background-color: var(--highlight-color);
	border-radius: 4px;
	padding: 5px;
	margin-right: 4px;
	font-size: 12px;
}


.card {
	padding: 20px 0px;
	color: white;
}

.elenco-itens {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.ator {
	width: 98px;

}

.ator img {
	width: 100%;
	border-radius: 10px;
}

.ator p {
	font-size: 12px;
	width: 100%;
	text-align: center;
	color: white;
	padding: 5px 0px;
}


.recommend-itens {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.movie-recommendation {
	margin-right: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	width: 250px;
}

.movie-recommendation img {
	border-radius: 10px;
	width: 250px;
	margin-bottom: 5px;
}

.movie-recommendation:hover img {
	opacity: 0.2;
}

.movie-recommendation:hover p {
	border-bottom: 1px solid white;
	padding-bottom: 8px;
}